<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Plateforme d'achat et de vente de Perfect Money">
        <meta name="author" content="Lemesem Exchange">
        <title>{% block title %}{% endblock %} - Lemesem Exchange</title>
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon.png') }}"/>
        <script src="{{ asset('assets/js/modernizr.js') }}"></script>
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Montserrat:300,400,500,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- LOADER -->
        <div id="loader">
            <div class="position-center-center">
                <div class="ldr"></div>
            </div>
        </div>

        <main id="wrap">
            {% include '_includes/header.html.twig' %}

            {% if title != 'home' %}
                <div class="nav-bg-cover mb-5" style="width: 100%; height: 130px; background-color:#0b0c22;"></div>
            {% endif %}

            {% block content %}{% endblock %}
            {% include '_includes/footer.html.twig' %}
        </main>

        <!-- Script -->
        <script src="{{ asset('assets/js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.sticky.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
